---
layout: default
---
<div id="home">
  <ul class="book-list">
    {% for book in page.books %}
    <li class="book">
      <div class="poster">
        {% if book.link %}
        <a href="{{ book.link }}">
        {% endif %}
          {% if book.image %}
          <img src="/images/{{ book.image }}">
          {% else %}
          <img src="/images/noimage.jpg">
          {% endif %}
        {% if book.link %}
        </a>
        {% endif %}
      </div>
      <div class="info">
        <h2 class="book-title">{{ book.title }}</h2>
        <h3 class="author">{{ book.author }}</h3>
        <div class="content">
          {% if book.started %}
          <div class="date">Started: {{ book.started }}</div>
          {% endif %}
          {% if book.finished %}
          <div class="date">Finished: {{ book.finished }}</div>
          {% endif %}
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
